.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}


.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.landing-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-list {
  display: flex;
  flex-direction: column;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-item:hover {
  background-color: #f0f0f0;
}

.user-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}


.user-card {
  cursor: pointer;
  margin: 10px;
}


.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.left-details {
  flex: 1;
}

.right-details {
  flex: 1;
  margin-left: 30px;
}
.home-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}



.tab-container {
  background-color: #663399; 
  color: #ffffff; 
  border-radius: 5px;
  padding: 10px;
  margin-right: 30px; 
}

.tab-container button {
  display: block; 
  margin-bottom: 10px; 
  padding: 8px 16px;
  background-color: transparent; 
  color: #ffffff; 
  border: none;
  cursor: pointer;
}


.tab-container button.active {
  background-color: #8a2be2; 
}

.tab-container button:hover {
  background-color: #7b68ee; 
}

.coming-soon {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.profile-dropdown-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
